#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote-box {
  border: thick solid;
  border-radius: 25%;
  padding: 5%;
  min-height: 250px;
  max-height: 400px;
  min-width: 230px;
  max-width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
#quote-text {
  margin-bottom: 10%;
}
#text {
  margin-bottom: 5%;
}
.fa-twitter-square {
  font-size: 40px;
}

@media only screen and (max-width: 500px) {
  #text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 700px) {
  #text {
    font-size: 18px;
  }
  #quote-box {
    padding: 7%;
  }
}